.spiral {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background: #E1DCD2;
    // background: #000;
    
    &__content {
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    
    &__letters {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    
    &__letter {
        position: absolute;
        left: 50%;
        top: 50%;
        font-family: $title_font_family;
        font-size: 7.5em;
        line-height: 1.11;
        letter-spacing: -0.06em;
        color: #A39273;
        white-space: nowrap;
        transform: translate(-50%, -50%);
        transform-origin: center center;
        will-change: transform, opacity;
        backface-visibility: hidden;
    }
}