$main_font_family: 'Playfair Display';
$title_font_family: 'FONTSPRING DEMO - Apparel Display';
$main_color: #f9f5ed;
$main_line_height: 1.2;
$main_font_size: 1em;

$container_width: 103.25em;

$footer_height: auto;

// Color collection for elements
$color_primary: #17306a;
$color_success: #ddc181;
$color_info: #03a9f4;
$color_warning: #bfa778;
$color_danger: #ff3e00;
$color_white: #ffffff;
$color_black: #000000;

