header.header#masthead
    .header__content
        .header__logo
            a(href="https://deessemedia.com/" target="_blank") by deesse media

        .header__center longread about the history <br> of Antiqua

        .header__nav menu

        //- .menu__toggle

