<!-- begin antiqueFonts -->

section#antiqueFonts.antiqueFonts.section.section_light
    .antiqueFonts__bg
        img(src="../../img/antiqueFonts/bg.webp" alt="" loading="lazy")

    .antiqueFonts__content
        .antiqueFonts__left
            h2.section__title
                span Antique<br> <em>fonts</em> also known <em>Eguptian</em>

            .antiqueFonts__img
                .antiqueFonts__pattern
                    img(src="../../img/antiqueFonts/pattern.webp" alt="" loading="lazy")
                .antiqueFonts__portret
                    img(src="../../img/antiqueFonts/portret.webp" alt="" loading="lazy")
                .antiqueFonts__autograf
                    img(src="../../img/antiqueFonts/autograf.webp" alt="" loading="lazy")
                .antiqueFonts__plates
                    .antiqueFonts__plate
                        img(src="../../img/antiqueFonts/plate_1.webp" alt="" loading="lazy")
                    .antiqueFonts__plate
                        img(src="../../img/antiqueFonts/plate_2.webp" alt="" loading="lazy")


        .antiqueFonts__right
            .antiqueFonts__top
                .section__anchore / introdusion
                .section__except
                    p Antique fonts, also knownas “Egyptian” or “Slab Serif” fonts, are a type of serif font that emerged in the early 19th century
            .section__text
                p The first slab serif typeface, known as “Antique,” was designed by Vincent Figgins in 1817 in London. These fonts were initially used in advertising, posters, and newspapers due to their bold and attention-grabbing appearance.
                p The popularity of Antique fonts continued to grow throughout the 19th century, and they became a standard in printing and advertising. The design of Antique fonts continued to evolve, and in the late 19th century, the fonts were refined to include more variations in weight and width.

<!-- end anticueFonts -->