<!-- begin antiqueFonts -->

section#antiqueFonts.antiqueFonts.section.section_light
    .antiqueFonts__bg
        img(src="../img" alt="" loading="lazy")

    .antiqueFonts__content
        .antiqueFonts__left
            h2.section__title
                span section__title

            .antiqueFonts__img
                .antiqueFonts__pattern
                    img(src="../img" alt="" loading="lazy")
                .antiqueFonts__portret
                    img(src="../img" alt="" loading="lazy")
                .antiqueFonts__autograf
                    img(src="../img" alt="" loading="lazy")
                .antiqueFonts__plates
                    .antiqueFonts__plate
                        img(src="../img" alt="" loading="lazy")
                    .antiqueFonts__plate
                        img(src="../img" alt="" loading="lazy")


        .antiqueFonts__right
            .antiqueFonts__top
                .section__anchore
                .section__except
            .section__text


//- <section id="antiqueFonts" class="antiqueFonts section section_light">
//-     <div class="antiqueFonts__bg"><?php echo wp_get_attachment_image(SCF::get('antique_fonts_bg'), 'full') ?></div>
//-     <div class="antiqueFonts__content">
//-         <div class="antiqueFonts__left">
//-             <h2 class="section__title"><?php echo strip_tags(SCF::get('antique_fonts_title'), ['em', 'i', 'span', 'br']); ?></h2>
//-             <div class="antiqueFonts__img">
//-                 <div class="antiqueFonts__pattern">
//-                     <?php echo wp_get_attachment_image(SCF::get('antique_fonts_pattern'), 'full') ?>
//-                 </div>
//-                 <div class="antiqueFonts__portret">
//-                     <?php echo wp_get_attachment_image(SCF::get('antique_fonts_portret'), 'full') ?>
//-                 </div>
//-                 <div class="antiqueFonts__autograf">
//-                     <?php echo wp_get_attachment_image(SCF::get('antique_fonts_autograf'), 'full') ?>
//-                 </div>
//-                 <div class="antiqueFonts__plates">
//-                     <div class="antiqueFonts__plate"><?php echo wp_get_attachment_image(SCF::get('antique_fonts_label1'), 'full') ?></div>
//-                     <div class="antiqueFonts__plate"><?php echo wp_get_attachment_image(SCF::get('antique_fonts_label2'), 'full') ?></div>
//-                 </div>
//-             </div>
//-         </div>
//-         <div class="antiqueFonts__right">
//-             <div class="antiqueFonts__top">
//-                 <div class="section__anchore"><?php echo SCF::get('antique_fonts_anchore'); ?></div>
//-                 <div class="section__except"><?php echo SCF::get('antique_fonts_sub'); ?></div>
//-             </div>
//-             <div class="section__text"><?php echo SCF::get('antique_fonts_text'); ?></div>
//-         </div>
//-     </div>
//- </section>
<!-- end anticueFonts -->