<!-- begin during -->
section#during.during.section
    .during__content
        .during__right
            .section__title During the 20 th <br> Antique <em>fonts</em> were <br> used in various <br> designs
                

        .during__left
            .section__anchore / iprevalence
            .section__except
                p During the 20th century Antique fonts were used in various designs, including book covers, packaging, and logos
            .section__text
                p The style of Antique fonts has also influenced other typography designs, including modern slab serifs and geometric sans-serifs.

    .during__gallery
        each item in [1,2,3,4,5,6,7,8,9,10]
            
            .during__img
                img(src="../../img/during/during_"+item+".webp" alt="img" loading="lazy")
