<!-- begin spiral -->
<section class="spiral" id="spiral">
    <div class="spiral__content">
        <!-- Контейнер с исходным текстом -->
        <div class="spiral__text">
            Fascinating Trivia About Antique Fonts
        </div>
        
        <!-- Контейнер для анимированных букв -->
        <div class="spiral__letters"></div>
    </div>
</section>
<!-- end spiral -->