<!-- begin spiral -->
section.spiral
    .spiral__content
        .spiral__letters#first-spiral

<!-- end spiral -->

//- <!-- begin spiral -->
//- <section class="spiral" id="spiral">
//-     <div class="spiral__content">
//-         <!-- Контейнер для анимированных букв -->
//-         <div class="spiral__letters" id="third-spiral"></div>
//-     </div>
//- </section>
//- <!-- end spiral -->