<!-- begin tableContent -->
section#tableContent.tableContent.section
    h2.section__title
        span Table <br> <em>of contents</em>

    .tableContent__list
        .tableContent__row
            .tableContent__name tableContent__name
            .tableContent__text tableContent__text
            .tableContent__img
                img(src="../img" alt="" loading="lazy")


<!-- end tableContent -->